.rkar-Button {

    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    background: darkslategray;
    color: lighten($color: darkslategray, $amount: 90%);
    font-weight: normal;

    &::selection {
        background: none;
    }

    &:hover {
        background: lighten($color: darkslategray, $amount: 2%);
    }

    &:active {
        background: darken($color: darkslategray, $amount: 5%);
    }

    &:focus {
        outline: 0;
        border: 2px solid lighten($color: darkslategray, $amount: 20%);
    }

    &-size--small {
        line-height: 24px;
        padding: 0px 12px;
        font-size: 12px;
    }

    &-size--medium {
        line-height: 32px;
        padding: 0px 16px;
        font-size: 12px;
    }

    &-size--large {
        line-height: 40px;
        padding: 0px 16px;
        font-size: 14px;
    }

}
